<div class="comment<%= comment.id%>" style="padding-left: 10px;">

  <%= comment.body %>
  <p>
    <%= link_to new_post_comment_path(comment.post, parent_id: comment), remote: true do %>
        <span class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true"></span>
    <% end  %>

    <% if current_user == comment.user %>
      <%= link_to [comment.post, comment], method: :delete do %>
          |<span class="glyphicon glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
      <% end %>
    <% end %>

  </p>
  <p>
    <%= l comment.created_at, format: "%e %B " "%H:%M:%S"%>
  </p>
     <%= link_to like_post_comment_path(comment.post, comment),class: 'like btn btn-success btn-sm', remote: true, method: :put do %>
          <span id="upvote_comment_<%= comment.id%>" class="glyphicon glyphicon-star" aria-hidden="true"><%= comment.get_upvotes.size %></span>
    <% end %>


    <%= link_to unlike_post_comment_path(comment.post, comment), class: 'unlike btn btn-danger btn-sm',remote: true, method: :put do %>
          <span id="downvote_comment_<%= comment.id%>" class="glyphicon glyphicon-star-empty" aria-hidden="true"><%= comment.get_downvotes.size %></span>
    <% end %>

</div>
<div class="form_new_comment_for_parent_<%= comment.id%> hiden_element" >
  <%= render 'comments/form' %>
</div>
<hr>