<div class="comment<%= comment.id%>" style="border:solid 1px black; padding-left: 10px;">

  <p>
    <%= comment.body %>
  </p>
  <h6>
    <p>
      <%= link_to 'Reply', new_post_comment_path(comment.post, parent_id: comment), remote: true %> |
      <%= link_to 'Delete comment', [comment.post, comment], method: :delete %>
    </p>
    <p>
      <%= l comment.created_at, format: "%e %B " "%H:%M:%S"%>
    </p>
    <p>
      <%= link_to '+', like_post_comment_path(comment.post, comment), class: 'like', method: :put %>
      kol-ov "+" laikov: <%= pluralize(comment.get_upvotes.size, 'like') %>
      <%= link_to '-', unlike_post_comment_path(comment.post, comment), class: 'unlike', method: :put %>
      kol-vo "-" laikov: <%= pluralize(comment.get_downvotes.size, 'like') %>
    </p>
  </h6>
</div>
<div class="form_new_comment_for_parent_<%= comment.id%> hiden_element" >
  <%= render 'comments/form' %>
</div>
<hr>