<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user), post.user %>
  <ul>
    <li><span class="user"><%= link_to post.user.name, post.user %></span></li>
    <li><span class="title"><%= post.title %></span></li>
    <li><span class="body"><%= post.body %></span></li>
    <li><span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span></li>
  </ul>
</li>