<tr>
    <td style="padding: 10px;">
        <%= image_tag('default-thumbnail.jpg', class: "post_image")  %>
    </td>
    <td>
        <h3><%= post.title %> <br></h3>
        <%= post.body %> <br>
        <%= link_to 'Show', post %>
        <% if logged_in? && post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %> <br> <br>

        <%= t 'posts.show.author' %>: <%= post.user.name %>    <%= t 'posts.show.create' %>:  <%= l post.created_at, format: "%Y %e %B " "%H:%M:%S"%> <br>
        <hr>
    </td>
</tr>
