
<p align="center">
  <%= image_tag('default-thumbnail.jpg', class: "post_image_show")  %>
</p>
<p>
  <strong><%= Post.human_attribute_name(:title).capitalize %>:</strong>
  <%= @post.title %>
</p>
  <%= image_tag @post.image_url if @post.image_url %>
<p>
  <strong><%= Post.human_attribute_name(:body).capitalize %>:</strong>
  <%= @post.body %> <br>
  <% if logged_in? && @post.user == current_user %>
      <%= link_to '', edit_post_path(@post), class: "glyphicon glyphicon-pencil"%>
      <%= link_to '', @post, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
<hr>
  <%= nested_comments @comments.arrange(order: :created_at) %>

<p>
  <%= render 'comments/form' %>
</p>

<%= link_to 'Back', posts_path %>
